<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.ssmtest.dao.CommentMapper">

    <resultMap id="ResultMapByCommentlv1"
               type="com.wang.ssmtest.bean.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="userOwnId" jdbcType="INTEGER" property="userOwnId"/>
        <result column="articleId" jdbcType="INTEGER" property="articleId"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="commentId" jdbcType="INTEGER" property="commentId"/>
        <association property="userOwn" javaType="com.wang.ssmtest.bean.User">
            <id column="id1" property="id"/>
            <result column="username1" property="username"/>
            <result column="image1" property="image"/>
        </association>
    </resultMap>
    <resultMap id="ResultMapByCommentlv2"
               type="com.wang.ssmtest.bean.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="userOwnId" jdbcType="INTEGER" property="userOwnId"/>
        <result column="articleId" jdbcType="INTEGER" property="articleId"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="commentId" jdbcType="INTEGER" property="commentId"/>
        <result column="UserOtherId" jdbcType="INTEGER" property="UserOtherId"/>
        <association property="userOwn" javaType="com.wang.ssmtest.bean.User">
            <id column="id1" property="id"/>
            <result column="username1" property="username"/>
            <result column="image1" property="image"/>
        </association>
        <association property="UserOther" javaType="com.wang.ssmtest.bean.User">
            <id column="id2" property="id"/>
            <result column="username2" property="username"/>
            <result column="image2" property="image"/>
        </association>
    </resultMap>

    <select id="selectByExample"
            parameterType="com.wang.ssmtest.bean.Comment" resultMap="ResultMapByCommentlv1">
        SELECT c.*,u.id id1,u.username username1,u.image image1
        FROM comment c
        LEFT JOIN user u
        ON c.userOwnId = u.id
        WHERE
        c.articleId = #{articleId,jdbcType=INTEGER}
        AND
        c.commentId is NULL
        ORDER BY c.date asc
    </select>
    <select id="selectByExampleLv2"
            parameterType="com.wang.ssmtest.bean.Comment" resultMap="ResultMapByCommentlv2">
        SELECT c.*,u.id id1,u.username username1,u.image image1,o.id id2,o.image image2,o.username username2
        FROM comment c
        LEFT JOIN user u
        ON c.userOwnId = u.id
				LEFT JOIN user o
        ON c.UserOtherId = o.id
        WHERE
        c.articleId = #{articleId,jdbcType=INTEGER}
        AND
        c.commentId = #{commentId,jdbcType=INTEGER}
        ORDER BY c.date asc
    </select>

    <insert id="insert" parameterType="com.wang.ssmtest.bean.Comment">
        INSERT INTO comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>

            <if test="content != null">
                content,
            </if>

            <if test="userOwnId != null">
                userOwnId,
            </if>

            <if test="articleId != null">
                articleId,
            </if>

            <if test="date != null">
                date,
            </if>

            <if test="commentId != null">
                commentId,
            </if>
            <if test="commentIdId != null">
                commentIdId,
            </if>
            <if test="UserOtherId != null">
                UserOtherId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>

            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>

            <if test="userOwnId != null">
                #{userOwnId,jdbcType=INTEGER},
            </if>

            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>

            <if test="date != null">
                #{date,jdbcType=VARCHAR},
            </if>

            <if test="commentId != null">
                #{commentId,jdbcType=INTEGER},
            </if>
            <if test="commentIdId != null">
                #{commentIdId,jdbcType=INTEGER},
            </if>
            <if test="UserOtherId != null">
                #{UserOtherId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>