<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><span style="color: red" id="time">5</span>秒后自动正在跳转，或者<a href="/user1" style="text-decoration: none">手动跳转</a></h3>
</body>
<script language="javascript" type="text/javascript">
    //以下方式直接跳转
    // window.location.href='http://www.baidu.com';
    //以下方式定时跳转
    // setTimeout("javascript:location.href='http://www.baidu.com'", 2000);
    var elementById = document.getElementById("time"),
        num = elementById.innerText,
        a = "0",
        time = null;
    timer = window.setInterval(f, 1000);

    function f() {

        num -= 1;
        if (num < 0) {
            return;
        }
        if (num == a) {
            clearInterval(timer);
            window.location.href='/user1';
        }

        elementById.innerText = num;
    }


</script>
</html>