<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<!-- Head -->
<head>
    <meta charset="UTF-8">
    <title>qi</title>
    <!-- css -->
    <style type="text/css">
    
     #container {
        width: 531px;
        height: 670px;
        margin: 0 auto;
        border: 1px solid blue;
        background:url(qipan.jpg) no-repeat;
        padding-top: 0px;
        padding-left: 5px;
        }
       td{
        width: 40px;
        height:33px;
        }
    table{      
        border-collapse: collapse;
        width: 525px;
        height: 465px;
    }
    </style>
    <!-- css ends -->    
    <!-- script -->
   
    <script th:src="@{../jquery-2.1.4.js}"></script>
     
    <!-- script ends -->
</head>
<!-- Head Ends -->
<!-- Body -->
<body>
   <!-- Container -->
    <div id="container">
    <!-- table model -->
     <table id = "tbl">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>

   <!-- 控件模块 -->
   <br>
   <div id="status">
   <input id="s1" type="button" value="我要黑棋" onclick="status1()">
   <input id="s2" type="button" value="我要白棋" onclick="status2()">
   <input id="reset" type="button" value="再来一局" onclick="reset()">
   <input type="button" value="退出游戏" onclick="closeFunction()">
   </div>
   <div>
   <p>&nbsp;<span id="myname">未连接</span>
   <img id="myqizi" src=""></p>
   <p style="text-align:right"><span id="againstname">未连接</span>
   <img id="againstqizi" src=""></p>
   </div>
  </div>
    <!-- Container Ends -->
</body>
<script>
var my = window.localStorage.getItem('my');
var against = window.localStorage.getItem('against');
$("#myname").html(window.localStorage.getItem('my'));
connect(window.localStorage.getItem('my'));
$("#againstname").html(window.localStorage.getItem('against'));
var main = window.localStorage.getItem('main');
console.log("main:"+main);
var status = main;
var chessmen ="";
var color = "";
var againstqizi = "";
var iswin = false; // 有没有分出胜负
window.onload = function() {

	document.getElementsByTagName('table')[0].onclick = function(ev) {
		// 1. 下棋
		// 2. 判断胜负
		xia.call(ev.srcElement);
	};
}
function connect(username){
	
	if(username!=null){
	    
		if ('WebSocket' in window){
		       //ws = new WebSocket("ws://www.niezhiliang.com:8086/socketServer/"+$("#username").val());
               ws = new WebSocket("ws://127.0.0.1:8086/socketServer/"+username);
		}    
	    else if ('MozWebSocket' in window){
	        //ws = new MozWebSocket("ws://www.niezhiliang.com:8086/socketServer/"+$("#username").val());
            ws = new MozWebSocket("ws://127.0.0.1:8086/socketServer/"+username);
	    }
	    else{
	        alert("该浏览器不支持websocket");    
	    }    
	        
	        
	    ws.onmessage = function(evt) {
	    	var data = eval("(" + evt.data + ")");
	    	if(data.choose!=""&&data.choose!=null){
	    		console.log("对方已选完：你的棋子:  "+data.choose);
				$("#myqizi").attr("src", data.choose + ".png");
				color = data.choose;
				againstqizi=data.choose=="white"?"black":"white";
				$("#againstqizi").attr("src",  againstqizi+ ".png");
				
	    	}
	    	if(data.x!=null){
	    		
	    		console.log("对方落子： "+data.x+" , "+data.y);
	    		status--;
	    		var s = isWin(data.iswin);
	    		var table = document.getElementById("tbl");//获取第一个表格
	    		
                var child = table.getElementsByTagName("tr")[data.x];//获取行的第一个单元格
				
                var td = child.children[data.y];
                againstqizi=color=="white"?"black":"white";
	    		td.style.background = 'url(' + againstqizi + '.png)';
	    		if(s!=""){
					alert(s);
				}
	    	}
	    	if(data.reset!=null){
	    		window.localStorage.setItem('main',data.reset);
				window.location.href=window.location;

	    	}
                        
	    };    
	        
	    ws.onclose = function(evt) {
	    	
	    };    
	        
	    ws.onopen = function(evt) {
	    	
	    	console.log(username+" 链接成功");
           
	    };  
	    
	}else{
		alert("链接错误");
	}
	//loaders_hide();
}   



	if(main==0){
		
	}else if(main ==1){
		$("#s1").attr("disabled", true);
		$("#s2").attr("disabled", true); 
	}
	/* 判断输赢 */
	function isWin(i){
	//	setTimeout(function(){},100);
		var a =""
	if (i == 1) {
			iswin = true;
			if(color == "black"){
				a=a+my+" 【黑棋】 赢";
			}
			else{
				a=a+against+" 【白棋】 赢";
			}
			return a;
			
		}
		if (i == 2) {
			iswin = true;	
			if(color == "black"){
				a=a+against+" 【黑棋】 赢";
			}
			else{
				a=a+my+" 【白棋】 赢";
			}
			return a;
		
		}
		if (i == -1) {
			iswin = true;
			return ("双方和局");
			
		}
		return "";
	}
</script>
<script th:src="@{../wuzi.js}"></script>
</html>